<div class ="header">
	<ul>
  	<li id="1">Renee Johns</li>
  	<li id="2"><a href="/about">About</a></li>
    <li id="3"><a href="/contact">Contact</a></li>
  </ul>
</div>

<div class="main">
  <h2>My name is<br><span>Renee Johns</span>, & I'm a scribbler, a scriber, and a programmer-in-training.</h2>
  <a href="/portfolio" class="view">View my work</a>
  <div class="footer">
  <ul class="social">
  	<li><a href="https://www.facebook.com/ReneeJohnsDesign"><img src="http://i1315.photobucket.com/albums/t590/naysie0/Facebook_square_social_logo_24_zpszvs9jfsc.png"/></a></li>
    <li><a href="https://twitter.com/Naysie101"><img src="http://i1315.photobucket.com/albums/t590/naysie0/Twitter_Logo_24%201_zps1nj3mts9.png"/></a></li>
    <li><a href="https://www.linkedin.com/pub/renee-johns/20/b1b/94b"><img src="http://i1315.photobucket.com/albums/t590/naysie0/Linkedin_Logotype_Button_24_zpsfbs7bqr9.png"/></a></li>
    <li><a href="https://www.behance.net/nayjay"><img src="http://i1315.photobucket.com/albums/t590/naysie0/Behance_Logo_Key_24_zpsr4kmtaiy.png"/></a></li>
  </ul>
  </div>
</div>

<div class="disclaimer">Icon made by <a href="http://www.simpleicon.com" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>